@charset "UTF-8";
/*Variables, mixins y funciones*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Permanent+Marker&display=swap");
/* todo lo correspondiente al codigo*/
h2 {
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  color: #151414;
  position: relative;
  margin-bottom: 1.25rem;
  /* text-decoration: underline yellow;*/ }

h2::after {
  content: "";
  position: absolute;
  bottom: -0.3125rem;
  /* Controla la separación entre el texto y la línea */
  left: 50%;
  /* Centra la línea debajo del texto */
  width: 200px;
  /* Ajusta la longitud de la línea */
  height: 4px;
  /* Ajusta el grosor de la línea */
  background-color: #F1E705;
  /* Color de la línea */
  transform: translateX(-50%);
  /* Centra horizontalmente la línea */ }

main h3 {
  text-align: center;
  text-decoration: underline;
  font-family: 'Permanent Marker', cursive; }

main p {
  text-align: center; }

h3 {
  text-align: center; }

.mapa-contenedor {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  gap: none;
  padding-top: 3.125rem; }

h5 {
  text-align: center;
  font-family: 'Permanent Marker', cursive; }

header .section-header {
  background-color: #F1E705;
  padding-left: 0;
  display: flex; }

header nav {
  display: flex;
  flex-direction: none;
  justify-content: flex-start;
  align-items: center;
  gap: none;
  padding-left: 6.25rem; }
  header nav ul {
    display: flex;
    list-style-type: none;
    gap: 3.125rem; }
    header nav ul li:hover {
      transform: scale(1.3);
      transition: 0.5s; }
    header nav ul li a {
      color: white;
      text-decoration: none;
      font-family: "Permanent Marker", cursive; }

main section h2 {
  text-align: center; }

.img-ofertas {
  width: 100%;
  height: 25rem;
  background-image: url(../../assets/ofertass.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.galeria {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 25%);
  /*Se van a adaptar automaticamente al tamaño del elemento */
  grid-template-rows: 200px 200px 200px;
  grid-template-areas: "div1 div2 div3" "div1 div2 div3" "div1 div4 div4";
  justify-content: center;
  gap: .625rem; }
  .galeria div {
    width: 100%;
    height: 100%; }
    .galeria div img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      /*para que no se deforme la imagen */
      border: 2px solid #151414; }

.div1 {
  grid-area: div1; }

.div2 {
  grid-area: div2; }

.div3 {
  grid-area: div3; }

.div4 {
  grid-area: div4; }
  .div4 img {
    object-position: bottom; }

.video {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3.125rem;
  background-color: #F1E705;
  margin-bottom: 1.25rem;
  background-image: url("../../assets/nosotros-caritas.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .video video {
    border: 2px solid #000; }

.p-outlet {
  font-size: 30px;
  font-weight: bold;
  font-family: "Permanent Marker", cursive; }

footer {
  margin-top: 10rem; }
  footer div {
    color: #151414; }
    footer div h5 a {
      text-decoration: none;
      color: black;
      text-align: center;
      font-family: "Fira Sans", sans-serif; }

.copyR p {
  background-color: #2C2E43;
  color: white;
  text-align: center; }

.container-footer {
  background-color: #888881;
  display: flex;
  flex-direction: none;
  justify-content: space-evenly;
  align-items: center;
  gap: none; }

.titulo-separador {
  height: 3.125rem;
  background-color: #F1E705;
  text-align: center;
  margin-left: .625rem;
  margin-right: .625rem;
  font-size: 2.8125rem; }

.card {
  width: 15.625rem;
  height: 15.625rem;
  border: 1px solid;
  box-shadow: .125rem .125rem .3125rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;
  transition: width 0.5s, height 0.5s;
  transition: width 2s, height 2s; }
  .card:hover {
    width: 18.75rem;
    height: 18.75rem;
    margin-left: -1rem;
    /* Reduce el margen izquierdo para dar espacio */
    margin-right: -1rem;
    /* Reduce el margen derecho para dar espacio */
    z-index: 1;
    /* Asegura que la tarjeta agrandada esté por encima de las otras */
    transform: scale(1.2); }
  .card h2:hover {
    transform: scale(1.2);
    transition: 0.5s; }
  .card h2 a {
    text-decoration: none;
    color: #151414;
    font-family: "Permanent Marker", cursive;
    font-size: 1.5625rem; }

.card-container {
  display: flex;
  width: 100%;
  height: 18.75rem;
  justify-content: space-evenly;
  align-items: center; }

.card-img {
  width: 100%;
  height: 12.5rem;
  overflow: hidden; }
  .card-img img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
    overflow: hidden;
    border-radius: .625rem .625rem 0rem 0rem; }

button {
  background-color: #2C2E43;
  color: white; }

.btn-custom {
  background-color: #2C2E43;
  color: white;
  transition: none; }
  .btn-custom a {
    text-decoration: none;
    color: white;
    font-family: "Fira Sans", sans-serif;
    font-size: 1.25rem; }
  .btn-custom:hover {
    background-color: #888881;
    transition: background-color 0.5s linear, color 0.5s linear; }

.btn-buscador {
  background-color: #F1E705;
  color: white;
  border-color: yellow;
  border-radius: .3125rem; }

.input-buscador {
  color: white;
  border-color: black;
  border-radius: .3125rem; }

.btn-wsp {
  position: fixed;
  width: 3.4375rem;
  height: 3.4375rem;
  line-height: 55px;
  bottom: 1.875rem;
  right: 1.875rem;
  background-color: #0df053;
  color: #fff;
  border-radius: 3.125rem;
  text-align: center;
  font-size: 1.875rem;
  box-shadow: 0px 0.0625rem 0.625rem rgba(0, 0, 0, 0.3);
  z-index: 100; }
  .btn-wsp:hover {
    text-decoration: none;
    color: #0df053;
    background-color: #fff; }

.preguntasFrecuentes {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  gap: none; }

.img-nosotros {
  padding-left: .625rem;
  padding-right: 1.25rem;
  background-image: linear-gradient(to bottom, #f1e705, #dbd63b, #c6c453, #b3b264, #a0a072, #9ca181, #9ca28f, #9ea19b, #afb4af, #c1c8c5, #d3dcda, #e7f0f0); }
  .img-nosotros section {
    border: .125rem solid; }

.container-carousel {
  width: 100%;
  height: 25%; }
  .container-carousel img {
    width: 100%;
    height: 31.25rem;
    overflow: hidden;
    object-fit: cover; }

/*Todo lo correspondiente al media query*/
@media (max-width: 320px) {
  .section-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center; }
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0; }
    header nav ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.25rem;
      padding: 10px, 10px, 10px, 10px; }
  .container-footer {
    display: flex;
    flex-direction: column; }
    .container-footer h5 {
      font-size: .9375rem; }
  .card-container {
    width: 100%;
    height: 100%;
    padding-top: 1.25rem;
    gap: .9375rem;
    display: flex;
    flex-direction: column; }
  .nosotros-section section p {
    font-size: 0.9375rem;
    text-align: center;
    margin-left: 0.625rem;
    margin-right: 0.625rem; }
  .nosotros-section h3 {
    font-size: 1.875rem;
    text-align: center;
    margin-left: 0.625rem;
    margin-right: 0.625rem; }
  h4 {
    font-size: 1.25rem;
    text-align: center;
    margin-left: 0.625rem;
    margin-right: 0.625rem; } }

@media (max-width: 480px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: none;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    header nav {
      padding-left: 0rem; }
      header nav ul {
        display: flex;
        flex-direction: column;
        justify-content: none;
        align-items: center;
        gap: none; }
  .section-header {
    display: flex;
    flex-direction: column; }
  .container-footer {
    display: flex;
    flex-direction: column; }
    .container-footer h5 {
      font-size: .9375rem; }
  .galeria {
    grid-template-columns: 50%;
    grid-template-rows: auto;
    grid-template-areas: "div1" "div2" "div3" "div4"; }
  .card-container {
    width: 100%;
    height: 100%;
    padding-top: 1.25rem;
    gap: .9375rem;
    display: flex;
    flex-direction: column; }
  .nosotros-section section p {
    font-size: 0.9375rem;
    text-align: center;
    margin-left: 0.625rem;
    margin-right: 0.625rem; }
  .nosotros-section h3 {
    font-size: 1.875rem;
    text-align: center;
    margin-left: 0.625rem;
    margin-right: 0.625rem; }
  h4 {
    font-size: 1.25rem;
    text-align: center;
    margin-left: 0.625rem;
    margin-right: 0.625rem; } }

@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: none; }
    header section {
      text-align: center; }
    header nav {
      padding-left: 0rem; }
      header nav ul {
        gap: .9375rem; }
  .galeria {
    grid-template-columns: repeat(2, 25%);
    grid-template-rows: repeat(2, 300px);
    grid-template-areas: "div1 div2" "div3 div4"; }
  .card-container {
    width: 100%;
    height: 100%;
    padding-top: 1.25rem;
    gap: .9375rem;
    display: flex;
    flex-direction: column; }
  .nosotros-section section p {
    font-size: 0.9375rem;
    text-align: center;
    margin-left: 0.625rem;
    margin-right: 0.625rem; }
  .nosotros-section h3 {
    font-size: 1.875rem;
    text-align: center;
    margin-left: 0.625rem;
    margin-right: 0.625rem; }
  h4 {
    font-size: 1.25rem;
    text-align: center;
    margin-left: 0.625rem;
    margin-right: 0.625rem; } }

@media (max-width: 1024px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0; }
    header nav {
      margin-right: .625rem; }
      header nav li {
        font-size: .9375rem; } }
