
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Permanent+Marker&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    ***********TIPOGRAFIAS***********
    
    font-family: 'Permanent Marker', cursive;
    font-family: 'Fira Sans', sans-serif;
*/
h2{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}
h3{
    text-align: center;
    text-decoration: underline; 
    font-family: 'Permanent Marker', cursive;
}
h5{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

.h3Nosotros h3{
    background-color: gray;
}

footer{
    background-color: #888881;
}
footer div{
    color: #151414 ;
}
.copyR p{
    background-color: #2C2E43;
    color: white;
    text-align: center;
}
p{
    font-family: 'Fira Sans', sans-serif;
}
nav{
    background-color: #F1E705;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
}
footer div h5 a{
    text-decoration: none;
    color: #151414;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}