// footer
$fondoFooter: #888881;
$colorDivFooter:#151414;
$letraNormal: 'Fira Sans', sans-serif;
$fondoColorCopyR: #2C2E43;
$colorCopyR: white;
$anclasFooter:black;
$colorBeccaritas: #F1E705;
$colorTexto: #151414;
$letraComic:'Permanent Marker', cursive;