footer{
    margin-top: 10rem; 
    div{
        color: $colorDivFooter;
        h5{
            a{
                text-decoration: none;
                color: $anclasFooter;
                text-align: center;
                font-family: $letraNormal;
            }
        }
    }   
}
.copyR{
    p{
        background-color: $fondoColorCopyR;
        color:$colorCopyR;
        text-align: center;
    }
}
.container-footer{
    background-color: $fondoFooter;
    @include flex(none, space-evenly, center, none);
    // gap: 21.875rem;
}
