header{
    .section-header{
        background-color: $colorBeccaritas;
        display: flex;
        flex-direction: row;
    }
    nav{
        @include flex (none, flex-start,center, none);
        padding-left: 6.25rem;
        ul{
            display: flex;
            list-style-type: none;
            gap: 3.125rem;
            li{
                &:hover {
                    transform: scale(1.3);
                    transition: 0.5s;
                  }
                a{
                    color: white;
                    text-decoration: none;
                    font-family: $letraComic;
                }
            }
        }
    }
 

}