header{
    background-color: $colorBeccaritas;
    display: flex;
    flex-direction: row;
    nav{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 6.25rem;
        ul{
            display: flex;
            list-style-type: none;
            gap: 3.125rem;
            li{
                &:hover {
                    transform: scale(1.3);
                  }
                a{
                    color: white;
                    text-decoration: none;
                    font-family: 'Permanent Marker', cursive;
                }
            }
        }
    }
 

}