.preguntasFrecuentes{
    @include flex(column, none, center, none)

}

.img-nosotros{
    section{
        border: .125rem solid;
        
    }
    padding-left: .625rem;
    padding-right: 1.25rem;
    background-image: linear-gradient(to bottom, #f1e705, #dbd63b, #c6c453, #b3b264, #a0a072, #9ca181, #9ca28f, #9ea19b, #afb4af, #c1c8c5, #d3dcda, #e7f0f0);
}
