main{
    section{
        h2{
            text-align: center;
        }
    }
}
.img-ofertas{
    width: 100%;
    height: 25rem;
    background-image: url(../../assets/ofertass.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
