h2{
    font-family: $letraNormal;
    text-align: center;
    color:$colorTexto;
    position: relative;
    margin-bottom: 1.25rem;
  /* text-decoration: underline yellow;*/
}
h2::after {
    content: "";
    position: absolute;
    bottom: -0.3125rem; /* Controla la separación entre el texto y la línea */
    left: 50%; /* Centra la línea debajo del texto */
    width: 200px; /* Ajusta la longitud de la línea */
    height: 4px; /* Ajusta el grosor de la línea */
    background-color: $colorBeccaritas; /* Color de la línea */
    transform: translateX(-50%); /* Centra horizontalmente la línea */
}

main{
    h3{
       // background-color: gray;
        text-align: center;
     text-decoration: underline; 
    font-family: 'Permanent Marker', cursive;
    }
    p{
        text-align: center;
    }
}
h3{
    text-align: center;
}
.mapa-contenedor{
    @include flex(none, center, center, none);
    padding-top: 3.125rem;
    
}
h5{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    
}

