button{
    background-color: #2C2E43;
    color: white;
}
.btn-custom{
    background-color: #2C2E43;
    color: white;
}
.btn-buscador{
    background-color: $colorBeccaritas;
    color: white;
    border-color: yellow;
    border-radius: .3125rem;
}
.input-buscador{
   
    color: white;
    border-color: black;
    border-radius: .3125rem; 
}