button{
    background-color: #2C2E43;
    color: white;
}
.btn-custom{
    background-color: #2C2E43;
    color: white;
    transition:none;
    a{
            text-decoration: none;
            color: white;
            font-family: $letraNormal;
            font-size: 1.25rem;
    }
    &:hover {
        background-color: $fondoFooter;
        transition: background-color 0.5s linear, color 0.5s linear; 
    }

}
.btn-buscador{
    background-color: $colorBeccaritas;
    color: white;
    border-color: yellow;
    border-radius: .3125rem;
}
.input-buscador{
   
    color: white;
    border-color: black;
    border-radius: .3125rem; 
}
.btn-wsp{
    position: fixed;
    width: 3.4375rem;
    height: 3.4375rem;
    line-height: 55px;
    bottom: 1.875rem;
    right: 1.875rem;
    background-color: #0df053;
    color: #fff;
    border-radius: 3.125rem;
    text-align: center;
    font-size: 1.875rem;
    box-shadow: 0px .0625rem .625rem rgba(0,0,0,0.3) ;
    z-index: 100;
    &:hover{
        text-decoration: none;
        color: #0df053;
        background-color: #fff;
    }
}